<form [formGroup]="this.form" *ngIf="!this.isCodeVerificationStage" (ngSubmit)="sendCode()">
  <header>
    <h1>Reset your password</h1>
  </header>
  <div class="input-container">
    <div class="input">
      <label for="username">Username *</label>
      <input
        formControlName="username"
        type="text"
        name="var_username"
        id="username"
        placeholder="Enter your username"
        value=""
      />
      <form-control-errors [control]="this.form.controls['username']"></form-control-errors>
    </div>
  </div>
  <footer>
    <p><a (click)="changeState(authState.Login)">Back to Sign In</a></p>
    <button
      class="button-success"
      aria-label="send code"
      type="submit"
      [disabled]="!this.form.valid || !this.formIsDirty(this.form)"
    >
      Send Code
    </button>
  </footer>
</form>

<form [formGroup]="this.form" *ngIf="this.isCodeVerificationStage" (ngSubmit)="createPassword()">
  <header>
    <h1>Reset your password</h1>
  </header>
  <div class="input-container">
    <div class="input">
      <label for="verification_code">Verification code</label>
      <input
        formControlName="verification_code"
        type="number"
        placeholder="Enter code"
        name="var_verification_code"
        id="verification_code"
      />
      <form-control-errors [control]="this.form.controls['verification_code']"></form-control-errors>
    </div>
    <div class="input">
      <label for="new_password">New password</label>
      <input
        formControlName="new_password"
        id="new_password"
        name="var_new_password"
        placeholder="Enter your password"
        value=""
        type="text"
      />
      <form-control-errors [control]="this.form.controls['new_password']"></form-control-errors>
    </div>
    <div class="error-message" *ngIf="this.erorMessage">
      <p>
        {{ this.erorMessage }}
      </p>
    </div>
    <p class="input-lost-pass">Lost your code? <a (click)="this.resendCode()">Resend Code</a></p>
  </div>
  <footer>
    <p><a (click)="changeState(authState.Login)">Back to Sign in</a></p>
    <button
      class="button-success"
      aria-label="submit"
      type="submit"
      [disabled]="!this.form.valid || !this.formIsDirty(this.form)"
    >
      Submit
    </button>
  </footer>
</form>
