<form [formGroup]="this.form" *ngIf="!this.isCodeVerificationStage" (ngSubmit)="signIn()">
  <header>
    <h1>Sign in to your account</h1>
  </header>

  <div class="input-container">
    <div class="input">
      <label for="username">Username *</label>
      <input
        formControlName="username"
        type="text"
        name="var_username"
        id="username"
        placeholder="Enter your username"
        value=""
      />
      <form-control-errors [control]="this.usernameControl"></form-control-errors>
    </div>

    <div class="input">
      <label for="password">Password *</label>
      <input
        formControlName="password"
        id="password"
        name="var_password"
        placeholder="Enter your password"
        value=""
        type="password"
      />
      <form-control-errors [control]="this.passwordControl"></form-control-errors>
    </div>
    <div class="error-message" *ngIf="this.erorMessage">
      <p>
        {{ this.erorMessage }}
        <a *ngIf="this.triggerOptionToEnterRecoveryMode" (click)="changeState(authState.Recovery)">
          Click Here to reset your password</a
        >
      </p>
    </div>
  </div>

  <footer>
    <p>Forgot your password? <a (click)="changeState(authState.Recovery)">Reset password.</a></p>
    <p>No Account? <a (click)="changeState(authState.SignUp)">Create account.</a></p>
    <button
      class="button-success"
      aria-label="sign in"
      type="submit"
      [disabled]="!this.form.valid || !this.formIsDirty(this.form)"
    >
      Sign In
    </button>
  </footer>
</form>
<signup-confirmation-menu
  (onRequestStateChange)="this.changeState($event)"
  *ngIf="this.isCodeVerificationStage"
  [usernameForForm]="this.form.controls['username'].value"
>
</signup-confirmation-menu>
