<form [formGroup]="this.form" *ngIf="!this.isCodeVerificationStage" (ngSubmit)="signIn()">
  <header>
    <h1>Sign in to your account</h1>
  </header>

  <div>
    <label for="username">Username *</label>
    <input
      formControlName="username"
      type="text"
      autofocus
      name="var_username"
      id="username"
      placeholder="Enter your username"
      value=""
    />

    <label for="password">Password *</label>
    <input formControlName="password" id="password" name="var_password" placeholder="Enter your password" value="" type="text" />
    <p>Forgot your password? <a (click)="changeState(authState.Recovery)">Reset password</a></p>
  </div>
  <div id="errors" *ngIf="this.erorMessage">
    <p>{{ this.erorMessage }}</p>
    <p *ngIf="this.triggerOptionToEnterRecoveryMode">
      <a (click)="changeState(authState.Recovery)">Click Here</a> to reset your password
    </p>
  </div>
  <footer>
    <p>No Account? <a (click)="changeState(authState.SignUp)">Create Account</a></p>
    <button aria-label="sign in" type="submit" [disabled]="!this.form.valid || !this.formIsDirty(this.form)">Sign In</button>
  </footer>
</form>
<signup-confirmation-menu
  (onSuccessfulSubmit)="this.onSuccessfulSubmit.emit($event)"
  (onRequestStateChange)="this.changeState($event)"
  *ngIf="this.isCodeVerificationStage"
  [usernameForForm]="this.form.controls['username'].value"
>
</signup-confirmation-menu>
